<footer>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-8 offset-md-2">

        <div class="github-btn">
          <!-- Place this tag where you want the button to render. -->
          <a class="github-button" href="https://github.com/kcezz" data-size="large" data-show-count="true" aria-label="Follow @kcezz on GitHub">Follow @kcezz</a>
        </div>

        <div class="github-btn">
          <!-- Place this tag where you want the button to render. -->
          <a class="github-button" href="https://github.com/kcezz/keplr.me" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star kcezz/keplr.me on GitHub">Star</a>
        </div>

      </div>
    </div>
  </div>
</footer>

<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script src="assets/countup.js" type="text/javascript" charset="utf-8"></script>
<script src="assets/custom.js" type="text/javascript" charset="utf-8"></script>

<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
