// Header

header{
  h1{
    margin-bottom: 24px;
    font-size: 5.5rem;
    @media only screen and (min-width: 576px) {
      font-size: 9rem;
    }
    @media only screen and (min-width: 768px) {
      font-size: 10rem;
    }
    @media only screen and (min-width: 992px) {
      font-size: 12rem;
    }
    @media only screen and (min-width: 1200px) {
      font-size: 13rem;
    }

  }
  h3{
    font-size: 1.6rem;
    line-height: 36px;
    font-weight: normal;
    @media only screen and (min-width: 576px) {
      font-size: 1.49rem;
    }
    @media only screen and (min-width: 768px) {
      font-size: 1.86rem;
    }
    @media only screen and (min-width: 992px) {
      font-size: 2.1rem;
    }
    @media only screen and (min-width: 1200px) {
      font-size: 2.3rem;
    }
  }

  #counter{
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
    .unit{
      padding: 0 7px;
      text-align: center;
      strong{
        font-size: 26px;
        display: block;
      }
      span{
        font-size: 12px;
        text-transform: uppercase;
        display: block;
      }
      @media only screen and (min-width: 576px) {
        padding: 0 14px;
        strong{
          font-size: 36px;
        }
        span{
          font-size: 18px;
        }
      }
      @media only screen and (min-width: 768px) {
        padding: 0 18px;
        strong{
          font-size: 52px;
        }
        span{
          font-size: 21px;
        }
      }
      @media only screen and (min-width: 992px) {
        padding: 0 18px;
        strong{
          font-size: 65px;
        }
        span{
          font-size: 24px;
        }
      }
      @media only screen and (min-width: 1200px) {
        padding: 0 24px;
        strong{
          font-size: 72px;
        }
        span{
          font-size: 24px;
        }
      }


    }

  }
}


// @media only screen and (min-width: 576px) {
//
// }
//
// @media only screen and (min-width: 768px) {
//
// }

// @media only screen and (min-width: 992px) {
//
// }
//
// @media only screen and (min-width: 1200px) {
//
// }
