// Header

header{
  h1{
    margin-bottom: 24px;
    a{
      border-bottom: none;
      &:hover{
        border-bottom: none;
      }
    }
  }
  h3{
    font-size: 27px;
    font-weight: normal;
  }
}
