
// Settings


// Colors
$white: #fff;
$black: #000;
$deep: #2e2c40;
$bg: #000;
$paper: #00b82e;
$base_type: 16px;
$link: #5942d2;

// Type
$serif: 'Noto Serif TC', serif;
$sans: 'Play', -apple-system, BlinkMacSystemFont, sans-serif;
$script: 'Dancing Script', cursive;
$mono: monospace;

$base_color: $deep;



// - - - - - - - - - - - - -

body{
  margin:0;
  color: $white;
  font-size: $base_type;
  font-family: $sans;
  background: $paper;
}

.paper{
  // background: $black url('assets/img/night-sky.jpg') fixed;
  background: $bg url('img/night-sky.jpg') fixed;
  height: -webkit-fill-available;
}

hr{
  margin: 50px 0;
  border-top-color: $deep;
  width: 25%;
}
